body {
  // display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // font-family:  "Baloo";
}
input, textarea {
  padding: 0;
  border: none;
}
.flex {
  display: flex;
}
.flex.center-v {
  align-items: center;
}
.flex.center-h {
  justify-content: center;
}
.flex.center-vh {
  align-items: center;
  justify-content: center;
}
.flex.start {
  justify-content: flex-start;
}
.flex.end {
  justify-content: flex-end;
}
.flex.around {
  justify-content: space-around;
}
.flex.between {
  justify-content: space-between;
}
.flex.row {
  flex-direction: row;
}
.flex.column {
  flex-direction: column;
}
.flex.wrap {
  flex-wrap: wrap;
}
.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
.clickable, #calender-title, 
#calender-panel, #calender-buttons {
  cursor: pointer;
}

#calender-wrapper {
  border: 6px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  width: 360px;
}

#calender-title {
  background: black;
  color: white;
  font-size: 20pt;
  height: 80px;
  text-align: center;
}

#calender-title div {
  border-radius: 30px;
  background-color: #ccc;
  height: 60px;
  width: 60px;
}
#calender-title p {
  height: 60px;
  width: 150px; 
} 

#calender-content {
  background-color: black;
  padding: 5px;
  width: 360px;
}

#cal-title {
  background: black;
  color: white;
  font-size: 20pt;
  height: 80px;
  text-align: center;
}

#cal-title div {
  border-radius: 30px;
  background-color: #ccc;
  height: 60px;
  width: 60px;
}
#cal-title p {
  height: 60px;
  width: 150px; 
} 

#cal-content {
  background-color: black;
  padding: 5px;
  width: 360px;
}

.month {
  height: 50px;
  transition: .4s;
  width: 50px;
}

#days p {
  background-color: black;
  color: white;
  font-size: 10pt;
  font-weight: 700;
  text-align: center; 
  width: 50px;
}

.month-selector {
  background-color: black;
  color: white;
  height: 100%;
  position: relative;
  top : 50%;
  left : 50%;
  transition: .4s;
  transform: translate(-50%, -50%);
  width: 100%;
}
  
.clickable:hover {
  background: white;
  box-shadow: 0px 0px 13px 4px rgba(0, 0, 0, 0.14);
  color: black;
  height: 30px;
  width: 30px;
  z-index: 3;
}

.kalenderci{
  display: none;
  position: absolute;
  left : -25px;
}

.kalenderco{
  display: none;
  position: absolute;
  left : -25px;
}