.wrap-header{
	@include container;
	background-color: #3a3e3e;
	color: #ccc;
	height: 45px;
	@include susy-breakpoint($desktop-size){
		height: 60px;
	}
	.header{
		@include container(1170px);
		height: 100%;	
		.logo{
			@include span(10);
			font-size: 10px;
			h1{
				margin-top: 10px;
			}
		}
		.logo-navbar{
			@include span(2);
			box-sizing: border-box;
			cursor: pointer;
			font-size: 12px;
			font-weight: 700;
			height: 100%;
			text-align: center;
			vertical-align: middle;
			.currency{
				margin-top: 23px;
				display: none;
			}
			.language{
				margin-top: 23px;
				display: none;
			}
			.bars{
				display: block;
				font-size: 30px;
				margin-top: 12px;
			}
			@include susy-breakpoint($komputer-size){
				.currency{
					display: inline-block;
				}
				.language{
					display: inline-block;
				}	
				.bars{
					display: none;
				}
			}
		}
	}
}

.detail-navbar{
	@include container;
	background-color: black;
	color: white;
	display: none;
	.tombolX{
	@include container;
	// background-color: red;
	text-align: right;
		.tombol{
		border: 1px solid #ccc;
		border-radius: 5px;
		display: inline-block;
		padding: 5px 7px;
		}
	}
	.wrapdetail{
		@include container(1170px);
		.detaillanguage{
			@include span(12);
			// background-color: yellow;
			h5{
				margin-left: 10px;
				margin-bottom: 5px;
			}
			ul{
				padding: 0px;
				li{
					font-size: 12px;
					height: 100%;
					list-style-type: none;
					a{
						color: #ccc;
						text-decoration: none;
					}
					img{
						// border: 1px solid black;
						margin: 3px 10px;
						vertical-align: middle;
						// display: inline;
					}
				}
			}
		}
		.detailcurrency{
			@include span(12);
			// background-color: green;
			h5{
				margin-bottom: 0px;
			}
			ul{
				padding: 0px;
				li{
					list-style-type: none;
					a{
						color: #ccc;
						font-size: 12px;
						text-decoration: none;
					}		
				}
			}
		}
	}
	@include susy-breakpoint($tablet-size){
		@include container;
		.tombolX{
			@include container(1170px);
		}
		.wrapdetail{
			@include container(1170px);
			.detaillanguage{
				@include span(3 nest);
			}
			.detailcurrency{
				@include span(9);
			}
		}
	}
}


.wrapform{
	@include container;
	background-color: black;
	padding: 10px;
	.form{
		@include container(1170px);
		// background-color: red;
		color: #ccc;
		font-size: 12px;
		font-weight: 700;
		.checkin{
			// background-color: red;
			display: inline-block;
			margin-right: 10px;
			position: relative;
			label{
				display: block;
				margin-bottom: 2px;
			}
			input{
				border: 1px solid #ccc;
				border-radius: 3px;
				cursor: pointer;
				display: block;
				height: 20px;
				margin-bottom: 10px;
				padding: 6px 4px 6px 6px;
				width: 140px
			}
			.fa{
				color: black;
				position: absolute;
				right : 6px;
				top : 28px;
			}
		}
		.checkout{
			// background-color: red;
			display: inline-block;
			margin-right: 10px;
			position: relative;
			label{
				display: block;
				margin-bottom: 2px;
			}
			input{
				border: 1px solid #ccc;
				border-radius: 3px;
				cursor: pointer;
				display: block;
				height: 20px;
				margin-bottom: 10px;
				padding: 6px 4px 6px 6px;
				width: 140px
			}
			.fa{
				color: black;
				position: absolute;
				right : 6px;
				top : 28px;
			}
		}
		.adult{
			display: inline-block;
			margin-right: 10px;
			position: relative;
			label{
				display: block;
				margin-bottom: 2px;
			}
			input{
				border: 1px solid #ccc;
				border-radius: 3px;
				cursor: pointer;
				display: block;
				height: 20px;
				margin-bottom: 10px;
				padding: 6px 6px 6px 12px;
				width: 70px
			}
			.fa{
				color: black;
				position: absolute;
				right : 6px;
				top : 28px;
			}
			.jumlahadult{
				display: none;
			}
			ul{
				// background-color: red;
				border: 1px solid black;
				margin: 0px;
				padding: 0px;
				position: absolute;
				top : 50px;	
				li{
					background-color: white;
					font-size: 14px;
					list-style: none;
					// text-align: center;
					width: 88px;
					a{
						// border: 1px solid;
						color: black;
						display: block;
						padding: 5px;
						padding-left: 25px;
						text-decoration: none;
					}
				}
			}

		}
		.children{
			display: inline-block;
			margin-right: 10px;
			position: relative;
			label{
				display: block;
				margin-bottom: 2px;
			}
			input{
				border: 1px solid #ccc;
				border-radius: 3px;
				cursor: pointer;
				display: block;
				height: 20px;
				margin-bottom: 10px;
				padding: 6px 6px 6px 12px;
				width: 70px
			}
			.fa{
				color: black;
				position: absolute;
				right : 6px;
				top : 28px;
			}
			.jumlahchildren{
				display: none;
			}
			ul{
				// background-color: red;
				border: 1px solid black;
				margin: 0px;
				padding: 0px;
				position: absolute;
				top : 50px;	
				li{
					background-color: white;
					font-size: 14px;
					list-style: none;
					// text-align: center;
					width: 88px;
					a{
						// border: 1px solid;
						color: black;
						display: block;
						padding: 5px;
						padding-left: 25px;
						text-decoration: none;
					}
				}
			}
		}
	}
}

.content{
	@include container;
	background-color:  #eaeaea;
	min-height: 700px;
	.wrap-main-content{
		@include container(1170px);
		background-color: red;
		padding-top: 20px;
		// min-height: 200px;
		.left-content{
			@include span(9 nest);
			background-color: yellow;
			min-height: 100px;
			padding: 10px;
			.picture{
				@include span(4 nest);
				img{
					width: 100%;
				}
			}
			.wrap-description{
				@include span(8);

				.description{
					@include span(7);
					background-color: maroon;
				}
				.price{
					@include span(5);
					background-color: pink;
				}
			}
			.detailroom{
				@include span(12);
				background-color: red;
				height: 100px;
				padding: 0px;
				.headerdetailroom{
					@include span(12);
					background-color: blue;
					border-bottom: 1px solid grey;
					// height: 50px;
					.headerlogoguest{
						@include span(2);
						background-color: red;
						height: 20px;
					}
					.headerguestroom{
						@include span(3);
						background-color: pink;
						height: 20px;
					}
					.headerpriceroom{
						@include span(7);
						background-color: green;
						height: 20px;
					}
				}
				.maindetailroom{
					@include span(12);
					.logoguest{
						@include span(2);
						background-color: magenta;
						height: 50px;
					}
					.guestroom{
						@include span(3);
						background-color: brown;
						height: 50px;
					}
					.priceroom{
						@include span(4);
						background-color: aqua;
						height: 50px;
					}
					.addbutton{
						@include span(3);
						background-color: maroon;
						height: 50px;
					}
				}
			}
		}
		.right-content{
			@include span(3);
			background-color: blue;
			padding: 10px;
			min-height: 100%;
			.wrapreservation{
				@include container;
				background-color: #FFF;
				font-size: 12px;
				padding: 20px;
				.headerreservation{
					background-color: red;
					padding: 20px;
				}
				.descreservation{
					font-size: 12px;
					.checkinreservation{
						font-weight: 700;
						.datecheckinreservation{
							font-weight: 400;
							margin-bottom: 10px;
						}
					}
					.checkoutreservation{
						font-weight: 700;
						.datecheckoutreservation{
							background-color: yellow; 
							font-weight: 400;
							margin-bottom: 10px;
							hr {
							    margin-top: 20px;
							    margin-bottom: 20px;
							    border: 0;
							    border-top: 1px solid #eee;
							}
						}
					}
				}
				.bookingroom{
					.detailbookingroom{
						hr {
						    margin-top: 20px;
						    margin-bottom: 20px;
						    border: 0;
						    border-top: 1px solid #eee;
						}
					}
				}
				.totalreservation{

				}
				.buttonreservation{

				}
			}
			.wrapcontact{
				.headercontact{

				}
				.detailcontact{
					.detailaddress{
					}
					.detailphone{
					}
					.detailemail{
					}
				}
			}
		}
	}
}
